<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Journel Journal</title>
    <link rel="stylesheet" href="https://use.typekit.net/jsw7kec.css" />
    <script
      src="https://kit.fontawesome.com/9da35d0137.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="nav-bar">
      <input type="checkbox" class="checkbox" id="click" hidden />
      <div class="sidebar">
        <label for="click">
          <i
            onclick="Travel.menuActions()"
            id="menu-icon"
            class="far fa-compass fa-2x"
          ></i>
        </label>
        <div class="year">
          <p>2020</p>
        </div>
      </div>
      )
      <!-- End sidebar begin navbar-->
      <nav id="navigation" class="navigation">
        <div class="navigation-header">
          <h1 class="navigation-heading">
            Journey Journal
          </h1>
          <!-- trigger modeal -->
          <button id="start-trip-btn">
            Start New Trip
          </button>
        </div>
        <h2 class="nav-subheading">My Trips:</h2>
        <ul id="navigation-list" class="navigation-list"></ul>

        <div class="copyright">
          <p>&copy; 2020. Journey Journal. All Rights Reserved</p>
        </div>
      </nav>
    </header>
    <!-- End Sidebar Begin Modal -->
    <aside id="modal" class="modal">
      <div class="modal-content">
        <h2>Start Planning Your Trip</h2>
        <span id="modal-close">&times;</span>

        <!-- one "tab" for each step of the form -->

        <div class="tab">
          <h3>What's Your Destination?</h3>
          <input
            type="text"
            data-key="location"
            id="location-input"
            class="modal-input"
            placeholder="Enter A City"
          />
        </div>
        <div class="tab">
          <h3>When Are You Going?</h3>
          <input
            id="leaving-input"
            data-key="leaving"
            type="date"
            class="modal-input"
            min="2020-01-01"
          />
          <p>until</p>
          <input
            id="returning-input"
            data-key="returning"
            type="date"
            class="modal-input"
            min="2020-01-01"
          />
        </div>
        <div class="tab">
          <h3>Is There Anything Specific You're Going To See?</h3>
          <input
            type="text"
            data-key="attractions"
            class="modal-input"
            id="attraction-input"
          />
        </div>

        <div id="btn-box" style="overflow: auto;">
          <div style="float: right;">
            <button
              type="button"
              id="prevBtn"
              onclick="Travel.submitAnswer(-1)"
            >
              Previous
            </button>
            <button type="button" id="nextBtn" onclick="Travel.submitAnswer(1)">
              Next
            </button>
          </div>
        </div>
        <!-- circles for form steps -->
        <div style="text-align: center; margin-top: 40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
      </div>
    </aside>

    <!-- End Modal Begin Main Page Hero Title -->
    <main id="app">
      <div class="header">
        <h1 class="main-title">Journey Journal</h1>
        <h2 id="trip-title" class="main-subtitle">
          Where Are You Off To Next?
        </h2>
      </div>
      <div id="gallery-container" class="gallery"></div>
      <nav id="sub-nav">
        <ul id="trip-nav">
          <li class="trip-item">
            <a class="trip-link" href="#info">Location Info</a>
          </li>
          <li class="trip-item">
            <a class="trip-link" href="#travel">Travel</a>
          </li>
          <li class="trip-item">
            <a class="trip-link" href="#accomidations">Accomidations</a>
          </li>
          <li class="trip-item">
            <a class="trip-link" href="#lists">My Lists</a>
          </li>
          <li class="trip-item">
            <a class="trip-link" href="#attractions">Attractions</a>
          </li>
          <li class="trip-item">
            <a class="trip-link" href="#meta">Details</a>
          </li>
        </ul>
      </nav>
      <section id="info">
        <h3 id="location-title"></h3>
        <div class="container">
          <div id="counter"></div>
        </div>
      </section>
    </main>
  </body>
</html>
